<div class="h-100 p-5 bg-light rounded-3">
  <h2><%= t("welcome_page.title") %></h2>
  <p class="pb-3 border-bottom"><%= t("welcome_page.subtitle") %></p>
  <p><%= t("welcome_page.options") %></p>
  <%= render "menu" %>
</div>



